@font-face {
  font-family: "GilroyBlack";
  src: url("assets/fonts/Gilroy-Black1.otf");
}

@font-face {
  font-family: "GilroyBold";
  src: url("assets/fonts/Gilroy-Bold1.otf");
}

@font-face {
  font-family: "GilroyExtrabold";
  src: url("assets/fonts/Gilroy-Extrabold1.otf");
}

@font-face {
  font-family: "GilroyHeavy";
  src: url("assets/fonts/Gilroy-Heavy1.otf");
}

@font-face {
  font-family: "GilroyLight";
  src: url("assets/fonts/Gilroy-Light1.otf");
}

@font-face {
  font-family: "GilroyMedium";
  src: url("assets/fonts/Gilroy-Medium1.otf");
}

@font-face {
  font-family: "GilroyRegular";
  src: url("assets/fonts/Gilroy-Regular1.otf");
}

@font-face {
  font-family: "GilroySemibold";
  src: url("assets/fonts/Gilroy-Semibold1.otf");
}

@font-face {
  font-family: "GilroyThin";
  src: url("assets/fonts/Gilroy-Thin1.otf");
}

@font-face {
  font-family: "GilroyUltraLight";
  src: url("assets/fonts/Gilroy-UltraLight1.otf");
}

@font-face {
  font-family: "QuadonMedium";
  src: url("assets/fonts/Quadon-Medium.ttf");
}
